.triangle {
	width: 0px;
	height: 0px;
	border-top: 10px solid red;
	border-right: 10px solid green;
	border-bottom: 10px solid blue;
	border-left: 10px solid pink;
}
.triangle1 {
	width: 0px;
	height: 0px;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.triangle2 {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-right: 10px solid green;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.triangle3 {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid blue;
	border-left: 10px solid transparent;
}
.triangle4 {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid pink;
}
/*规则：1. 宽度高度设为0
  	 2. 边框分开设置，需要的一边设置颜色，其余设置为transparent 色，都是10px solid 属性。*/